<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body class="signup-page">
    <div class="signup-title">
        <h2>create an account</h2>
    </div>
    <div class="signup-box">
        <form method="post" action="" class="signup-form">
            <div class="signup-firstname-box">
                <label class="signup-firstname" for="">first name</label>
                <input class="signup-firstname-input" type="text" name="firstname">
            </div>
            <div class="signup-lastname-box">
                <label class="signup-lastname" for="">last name</label>
                <input class="signup-lastname-input" type="text" name="lastname">
            </div>
            <div class="signup-username-box">
                <label class="signup-username" for="">username</label>
                <input class="signup-username-input" type="text" name="username">
            </div>
            <div class="signup-password-box">
                <label class="signup-password" for="">password</label>
                <input class="signup-password-input" type="password" name="password">
            </div>
            <div class="signup-button-box">
                <button class="signup-button" type="submit">register</button>
            </div>
        </form>
        <div class="signup-back-to-login-box">
            <a href="/login" class="signup-back-to-login">back to login</a>
        </div>
    </div>
</body>
</html>